.heroSection {
  height: auto;
  min-width: 350px;
  padding: 20px;
  margin: 0px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, .2);
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.head span {
    text-align: justify;
    min-width: 140px;
    color: #111;
    font-size: 2rem;
    font-weight: 700;
}

.head .createAddBtn {
  font-size: 1.4rem;
  font-weight: 700;
}



/* CSS */
.createAddBtn {
  max-width: max-content;
  align-items: center;
  background-color: #B6FFFA;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.createAddBtn:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}