.formContainer {
  background: linear-gradient(to right, #a3d8ff, #befff7);
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 50px auto 30px;
  padding: 20px;
  width: 50vw;
  min-width: 350px;
}

.backArrow {
  border-radius: 50%;
  position: absolute;
  padding: 7px;
  top: 85px;
  background: #c0eee4;
  left: 25px;
  width: 3.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.formContainer span {
  color: #111;
  font-size: 1.4rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.formContainer form {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.addPictureContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap:10px;
}

.input {
  border: 3px solid transparent;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 300;
  outline: none;
  padding: 10px 10px 10px 15px;
  transition: 0.3s;
  min-width: 270px;
}

/* CSS */
.button17 {
  max-width: 150px;
  border-radius: 30px;
  padding: 14px;
  display: flex;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 45px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  width: 80px;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button17:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.button17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button17:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

input.uploadBtn {
  padding: 4px;
  margin: -4px;
  position: relative;
  outline: none;
  border-radius: 4px;
}

input.uploadBtn::file-selector-button {
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  width: 132px;
  color: transparent;
  border-radius: 20px;
}

input.uploadBtn::file-selector-button:hover {
  background-color: #f3f4f6;
}

input.uploadBtn::file-selector-button:active {
  background-color: #e5e7eb;
}

/* Firefox-specific styling */
@supports (-moz-appearance: none) {
  input.uploadBtn::file-selector-button {
    color: var(--primary-color);
  }
}

input.uploadBtn::before {
  position: absolute;
  top: 14px;
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input.uploadBtn::after {
  position: absolute;
  top: 16px;
  left: 40px;
  color: var(--primary-color);
  content: "Upload File";
}

input.uploadBtn:focus-within::file-selector-button,
input.uploadBtn:focus::file-selector-button {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}